<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.aoya.telegami" />
        <package android:name="com.my.televip" />
        <package android:name="com.shatyuka.killergram" />
        <package android:name="nep.timeline.re_telegram" />
        <package android:name="Telegram.Speed.Hook" />
        <package android:name="ru.mike.telegramtweaks" />
        <package android:name="ru.mike.sidestories" />
    </queries>

    <application
        android:name=".GramSieveApplication"
        android:allowBackup="true"
        android:description="@string/module_description"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GramSieve">

        <activity
            android:name=".config.ConfigPersistActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay" />

        <provider
            android:name=".config.ConfigContentProvider"
            android:authorities="com.tianqianguai.gramsieve.config"
            android:exported="true" />

        <receiver
            android:name=".config.ConfigUpdateReceiver"
            android:exported="true" />
    </application>

</manifest>
